Source: googleplaydownloader
Section: internet
Priority: extra
Maintainer: Tuxicoman <debian@jesuislibre.net>
Build-Depends: debhelper (>= 7.0.50~), python
Standards-Version: 3.8.4
Homepage: https://codingteam.net/project/googleplaydownloader
X-Python-Version: >= 2.7

Package: googleplaydownloader
Architecture: all
Depends: python (>=2.7), python-wxgtk2.8 (>=2.8), python-protobuf (>=2.4), java-common (>=0.47), python-requests (>=0.12.1)
Description: Google Play Downloader
 Download Android application APK from Google Play Store without any personal Google account.
 
